.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__
# IPython
profile_default/
ipython_config.py


catboost_info/*
logs.log
command.log
config/*
models/*
bkp/*
other/*
analysis.ipynb
analysis_test.ipynb
analysis - Copy.ipynb
analysis - Copy - recent.ipynb
9999-classification-compare-models.ipynb
01-exploratory-analysis-test.ipynb